.stackItem--product {
  width: 100%;
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}

.stackItem--prodsum--flag {
  width: 100%;
  top: -15px;
}
.stackItem--prodsum--summary{
  width: 100%;
  top: -5px;
  display:flex;
}
