

.productHighlightWrapper--collection {
   display:flex;
}

.productHighlightWrapper {
  display:flex;
}
:global(.vtex-product-highlights-2-x-productHighlightText) {
}
.productHighlightText {
 
  top: 10px;
  left: 5px;
  width: max-content;
  background: #7a3138;
  color: white;
  font-size: 12px;
  font-weight: normal;
  padding: 7px 15px;
  border-radius: 5px;
  margin: 0 auto;
}
.productHighlightText--flagPDP{
  position: absolute;
  transform: translate(-485px, -20px);
  z-index: 100;
}


