.listPrice {
  color: #727273;
  margin-bottom: .25rem;
  font-size: 1rem;
  transform: translateX(-145px);
}

.sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}
/* Flag Economize PDP */
.savings {
  /* font-weight: 500;
  color: #79B03A; */
 
}
.savings--flagPDP{
  background: #8bc34a;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  top: -300%;
  left: -497px;
  color: #fff;
  padding: 7px 15px;
  width: max-content;
  border-radius: 5px;
  margin: 0 auto;
  z-index: 100;
  color:white;
 
  
}

.sellingPriceValue--summary {
  font-size: 30px;
  font-weight: 600;
  color: #7b343b;
}

.savings--summary {
  position: relative;
  width: max-content;
  background: #8bc34a;
  color: white;
  font-size: 12px;
  font-weight: normal;
  padding: 7px 15px;
  border-radius: 5px;
  margin: 0 auto;
  top: 247px;



}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}
.sellerNameContainer--isDefaultSeller{

font-size:0px;
}
